version: 2.1
orbs:
  orb-tools: circleci/orb-tools@12.3.1
  jq: circleci/jq@3.0.2
  browser-tools: {}
filters: &filters
  tags:
    only: /.*/
jobs:
  int-chrome-for-testing:
    parameters:
      executor:
        type: executor
      version:
        type: string
    executor: <<parameters.executor >>
    steps:
      - browser-tools/install_chrome_for_testing:
          version: <<parameters.version >>
      - checkout
  int-chrome-for-testing-no-args:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor >>
    steps:
      - browser-tools/install_chrome_for_testing
      - checkout
  int-test-all:
    parameters:
      executor:
        type: executor
      firefox_version:
        type: string
        default: latest
      geckodriver_version:
        type: string
        default: latest
      replace_existing_chrome:
        type: boolean
        default: true
      chrome_version:
        type: string
        default: latest
      edge_version:
        type: string
        default: latest
    executor: <<parameters.executor>>
    steps:
      - jq/install
      - run: sudo mkdir /usr/local/bin/testing
      - browser-tools/install_browser_tools:
          firefox_version: <<parameters.firefox_version>>
          replace_existing_chrome: <<parameters.replace_existing_chrome>>
          chrome_version: <<parameters.chrome_version>>
          install_edge: true
          edge_version: <<parameters.edge_version>>
          install_chrome_for_testing: true
          install_chrome_for_testing_driver: true
          chrome_for_testing_driver_install_dir: /usr/local/bin/testing
      - checkout
  int-tests-chrome:
    parameters:
      executor:
        type: executor
      channel:
        type: string
    executor: << parameters.executor >>
    steps:
      - jq/install
      - browser-tools/install_chrome:
          channel: << parameters.channel >>
      - browser-tools/install_chromedriver
      # checkout step is added last to satisfy a test
      - checkout
  int-test-chrome:
    parameters:
      executor:
        type: executor
      replace_existing_chrome:
        type: boolean
        default: true
      chrome_version:
        type: string
        default: latest
    executor: <<parameters.executor>>
    steps:
      - jq/install
      - browser-tools/install_chrome:
          chrome_version: <<parameters.chrome_version>>
      - browser-tools/install_chromedriver
      - checkout
  int-test-firefox:
    parameters:
      executor:
        type: executor
      firefox_version:
        type: string
        default: latest
      geckodriver_version:
        type: string
        default: latest
    executor: <<parameters.executor>>
    steps:
      - jq/install
      - browser-tools/install_firefox:
          version: <<parameters.firefox_version>>
      - browser-tools/install_geckodriver:
          version: <<parameters.geckodriver_version>>
      - checkout
  int-test-edge:
    parameters:
      executor:
        type: executor
      edge_version:
        type: string
        default: latest
    executor: <<parameters.executor>>
    steps:
      - browser-tools/install_edge:
          version: <<parameters.edge_version>>
      - browser-tools/install_edge_driver
      - checkout
  int-test-chrome-cache:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor>>
    steps:
      - jq/install
      - browser-tools/install_chrome:
          use_cache: true
          cache_key: v2
      - browser-tools/install_chromedriver
      - checkout
  int-test-firefox-cache:
    parameters:
      executor:
        type: executor
      version:
        type: string
    executor: <<parameters.executor>>
    steps:
      - jq/install
      - browser-tools/install_firefox:
          use_cache: true
          cache_key: v3-<<parameters.version>>
          version: <<parameters.version>>
      - checkout
workflows:
  test-deploy:
    jobs:
      - int-test-chrome-cache:
          name: test-chrome-cache-<<matrix.executor>>
          matrix:
            parameters:
              executor: [cimg-node, macos]
          filters: *filters
      - int-test-firefox-cache:
          name: test-firefox-cache-<<matrix.executor>>-<<matrix.version>>
          matrix:
            parameters:
              executor: [cimg-node, macos]
              version: ["latest", "128.0.2", "135.0", "140.0"]
          filters: *filters
      - int-test-all:
          name: test-cimg-base-all
          executor: cimg-base
          filters: *filters
      - int-test-all:
          name: test-cimg-node-all
          executor: cimg-node
          filters: *filters
      - int-test-all:
          name: test-specific-version-all
          executor: cimg-base
          chrome_version: "131.0.6778.85"
          firefox_version: "128.0.2"
          filters: *filters
      - int-test-all:
          name: test-macos-all
          executor: macos
          filters: *filters
      - int-test-all:
          name: test-linux-all
          executor: linux
          filters: *filters
      - int-test-chrome:
          name: test-cimg-base-chrome
          executor: cimg-base
          filters: *filters
      - int-test-chrome:
          name: test-cimg-node-chrome
          executor: cimg-node
          filters: *filters
      - int-test-chrome:
          name: test-specific-version-chrome
          executor: cimg-base
          chrome_version: "131.0.6778.85"
          filters: *filters
      - int-test-chrome:
          name: test-macos-chrome
          executor: macos
      - int-test-chrome:
          name: test-linux-chrome
          executor: linux
          filters: *filters
      - int-test-firefox:
          name: test-cimg-base-firefox
          executor: cimg-base
          filters: *filters
      - int-test-firefox:
          name: test-cimg-node-firefox
          executor: cimg-node
          filters: *filters
      - int-test-firefox:
          matrix:
            alias: test-specific-version-firefox-matrix
            parameters:
              firefox_version: ["128.0.2", "135.0", "140.0"]
          name: test-specific-version-firefox-<<matrix.firefox_version>>
          executor: cimg-base
          filters: *filters
      - int-test-firefox:
          name: test-macos-firefox-<<matrix.firefox_version>>
          executor: macos
          matrix:
            alias: test-macos-firefox-matrix
            parameters:
              firefox_version: ["128.0.2", "135.0", "140.0"]
          filters: *filters
      - int-test-firefox:
          name: test-linux-firefox-<<matrix.firefox_version>>
          executor: linux
          matrix:
            alias: test-linux-firefox-matrix
            parameters:
              firefox_version: ["128.0.2", "135.0", "140.0"]
          filters: *filters
      - int-test-edge:
          name: test-linux-edge-<<matrix.edge_version>>-<<matrix.executor>>
          matrix:
            alias: test-linux-edge
            parameters:
              edge_version: ["latest", "136.0.3240.76", "135.0.3179.54"]
              executor: [cimg-base, cimg-node, cimg-openjdk, linux]
      - int-test-edge:
          name: test-macos-edge
          executor: macos
      - int-chrome-for-testing:
          name: install_chrome_for_testing-<<matrix.version>>-<<matrix.executor>>
          matrix:
            alias: install_chrome_for_testing
            parameters:
              executor: [cimg-base, linux, macos]
              version: ["136.0.7103.113", "137.0.7151.40", "latest"]
      - int-chrome-for-testing-no-args:
          name: install_chrome_for_testing_no_args-<<matrix.executor>>
          matrix:
            alias: install_chrome_for_testing_no_args
            parameters:
              executor: [cimg-base, linux, macos]
      - orb-tools/pack:
          filters: *filters
      # This matrix job can likely replace the several others above in the future
      - int-tests-chrome:
          matrix:
            parameters:
              executor:
                - "cimg-base"
                - "cimg-node"
                - "linux"
                - "macos"
              channel:
                - "stable"
                - "beta"
      - orb-tools/publish:
          orb_name: circleci/browser-tools
          vcs_type: << pipeline.project.type >>
          pub_type: production
          context: orb-publisher
          requires:
            - orb-tools/pack
            - test-cimg-base-all
            - test-cimg-node-all
            - test-macos-all
            - test-linux-all
            - test-cimg-base-chrome
            - test-cimg-node-chrome
            - test-macos-chrome
            - test-linux-chrome
            - test-cimg-base-firefox
            - test-cimg-node-firefox
            - install_chrome_for_testing
            - test-specific-version-firefox-matrix
            - test-macos-firefox-matrix
            - test-linux-firefox-matrix
            - test-linux-edge
            - test-macos-edge
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
executors:
  cimg-base:
    docker:
      - image: cimg/base:current
  cimg-node:
    docker:
      - image: cimg/node:lts-browsers
    shell: bash -eox pipefail
  cimg-openjdk:
    docker:
      - image: cimg/openjdk:11.0-browsers
  macos:
    macos:
      xcode: 15.3.0
  linux:
    machine:
      image: ubuntu-2204:2024.08.1
    shell: bash -eox pipefail
